@import '../../App.scss';

.about-photo {
    margin-bottom: 20px;
    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 1px 1px 5px #3BC8FF;
        border: 2px solid $header1-hover-border;
    }
}

.about-container {
    margin-top: 40px;
}

.about-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: $title-color;
}

.about-sub-title {
    text-align: center;
    color: $sub-title-color;
}

.about-text {
    margin: 0 20px;
    line-height: 35px;
}

@media (max-width: 768px) {
    .about-photo {
        text-align: center;
        img {
            width: 50%;
            margin: auto;
        }
    }

    .about-text {
        margin: 0;
        line-height: 30px;
    }
}

@media (max-width: 576px) {
    .about-container {
        padding: 0;
    }
    .about-photo img{
        width: 75%;
    }
}