@import '../../App.scss';

.blog-spinner {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: $header1-hover-icon;

    .spin-icon {
        margin-right: 20px;
        font-size: 60px;
        color: $header1-hover-icon;
        animation: spin-loader 1s infinite forwards;
    }
}

@keyframes spin-loader {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(359deg);}
}

.blog-post-title {
    color: $header1-text;
    font-size: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 75%;
    transition: all 0.25s;
}

.blog-post-upload-date {
    margin-right: 20px;
    color: $sub-title-color;
    transition: all 0.25s;
    font-size: 14px;
}

.blog-no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
}