@import '../../App.scss';

.exp-work-history {
    margin-bottom: 20px;
}

.exp-work-title {
    font-size: 26px;
}

.exp-sub-title {
    margin-bottom: 10px;
}

.exp-section-title {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 10px;
}

.exp-section {
    margin-bottom: 40px;
}

.exp-section:last-of-type {
    margin-bottom: 0px;
}

.exp-work-stack, .exp-personal-work-stack {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.exp-work-stack {
    min-height: 42px;
}

.exp-personal-item, .exp-work-history-item {
    margin-bottom: 30px;
}

.exp-title {
    font-size: 26px;
    margin-bottom: 20px;
}

.exp-personal-project-button-container {
    margin-top: 16px;
    display: flex;
    .seans-button {
        width: 120px;
        margin-right: 20px;
    }
}

.exp-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 20px;
}

img.exp-icon {
    width: 100px;
    height: 100px;
}

.exp-icon {
    font-size: 100px;
    color: $header1-text;
}

.exp-label {
    font-size: 32px;
}

.exp-info-list .exp-item {
    flex-flow: row;
    font-size: 22px;
    justify-content: left;

    .exp-icon {
        font-size: 22px;
        margin-right: 12px;
    }

    img.exp-icon {
        width: 22px;
        height: 22px;
    }

    .exp-label {
        font-size: 22px;
        margin-right: 12px;
    }

    .exp-years {
        font-size: 14px;
    }
}

.exp-resume-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    margin-bottom: 20px;
}

.exp-container {
    margin-top: 30px;
}

.exp-quick-nav-container {
    display: none;
    position: fixed;
    top: 90px;
    left: 0;
    z-index: 9;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    cursor: pointer;
    
    .exp-quick-nav {
        display: inherit;
        width: 100%;
        margin: 0 20px;
        border: 2px solid $header1-hover-border;
        border-radius: 8px;
        background-color: $header1-bg;
        color: $header1-text;
    }
    .exp-quick-nav-item {
        border-right: 1px solid black;
        transition: all 0.25s;
        padding: 3px 0;
    }
    .exp-quick-nav-item.exp-sub-nav-hit {
        background: $header1-hover-bg;
        color: $header1-hover-text;
        font-size: 18px;
    }

    .exp-quick-nav-item:last-of-type {
        border-right: none;
    }
}

@media (max-width: 768px) {
    .exp-label {
        font-size: 24px;
    }
    .exp-quick-nav-container {
        display: flex;
    }
}
@media (max-width: 576px) {
    .exp-container {
        padding: 0;
    }
    .exp-label {
        font-size: 22px !important;
    }
    .exp-info-list {
        .exp-label {
            font-size: 18px !important;
        }
        .exp-years {
            display: none;
        }
    }
}

.devicons.devicons-photoshop::before {
    content: "\e6b8"
}