$app-bg: #f8f8f8;

$header-height: 90px;
$header1-bg: #FFF;
$header1-border: #001740;
$header1-icon: #3BC8FF;
$header1-text: #3BC8FF;
$header1-hover-text: #FFF;
$header1-hover-bg: #3BC8FF;
$header1-hover-border: #3BC8FF;
$header1-hover-icon: #3BC8FF;
$header1-hover-icon-bg: #FFF;
$header1-full-bottom-border: #3BC8FF;

$header1-logo-text: #3BC8FF;
$header1-logo-s-border: #3BC8FF;
$header1-logo-s-bg: #FFF;
$header1-logo-text-hover: #282480;
$header1-logo-border-hover: #282480;

$title-color: black;
$sub-title-color: #888888;

$button-bg: #3BC8FF;
$button-text: #FFF;
$button-hover-bg: #FFF;
$button-hover-text: #3BC8FF;

$input-border: #3BC8FF;

$error-text: red;

$card-border: #f8f8f8;
$card-shadow: #888;

body {
    background: $app-bg;
    overflow-y: overlay;
}

.app {
    margin-top: $header-height;
}

.push-right {
    margin-left: auto;
}

.page-container {
    width: 100%;
    max-width: 1028px;
    margin: auto;
    background: white;
    box-shadow: 0px -2px 5px #888888;
    min-height: calc(100vh - 90px);
    height: auto;
}

.content-container {
    padding: 40px;
    min-height: calc(100vh - 90px);
}

a {
    text-decoration: none !important;
}

.italic {
    font-style: italic;
}

.seans-button {
    color: $button-text;
    background: $button-bg;
    padding: 10px 25px;
    border-radius: 6px;
    transition: all 0.25s;
    font-weight: 600;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
}

.seans-button:hover {
    color: $button-hover-text;
    background: $button-hover-bg;
    border: 2px solid $button-hover-text;
    font-size: 20px;
    padding: 10px 30px;
}

@media (max-width: 1028px) {
    .content-container {
        padding: 20px;
        padding-bottom: 60px;
    }
}


@font-face {
    font-family: Zwodrei;
    src: url(./fonts/Zwodrei.woff2);
}

@font-face {
    font-family: Copperplate;
    src: url(./fonts/Copperplate.woff2);
}

.page-container {
    opacity: 0;
    animation: fade-in forwards 0.5s;
}

@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}