:root {
  background: #e13dff;
  background: #8535e8;
  background: #5047FF;
  background: #427AEB;
  background: #3BC8FF;
  background: #4D4A80;
  background: #282480;
  background: #001740;
  background: #FFF;
  /* background: #000; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
